<div style="position: fixed; z-index: -1; top: 50%; left: 50%; transform: translate(-50%, -50%)">
    <img src="/NewFolder/BUSON_20250207_105702_0000.png" alt="Alternate Text" style="opacity: 0.2;" />
</div>

@* <h3>Currently Active Users</h3>

        @if (users == null)
        {
            <p>Loading...</p>
        }
        else if (users.Count == 0)
        {
            <p>No active users right now 😴</p>
        }
        else
        {
            <ul>
                @foreach (var user in users)
                {
                    <li>@user.UserName (@user.LastActive.ToShortTimeString())</li>
                }
            </ul>
        } *@

<div class="paragraph">
    <h1> Our Vision & Mission </h1>
    <p>
        Our vision and mission is an amalgamation of our corporate philosophy and our motto of providing next generation IT services. <br />
        To envision, design and construct the most magnificent ERP and CRM Implementation services; to contribute tangibly in overall success of our customers and provide highest Return on Investment to our customers.  <br />
        Quality, Customer Satisfaction, Transparency and Corporate Responsibility are the pillars of our vision and mission and form the cornerstone of our approach that we bring to every engagement.  <br />
        In short our Vision & Mission can be easily summed up as  <br />
        To use our industry insights and domain experience to our advantage and provide innovative, high quality, superior and cost effective solutions that brings overall growth to our customers.  <br />
    </p>
    <br />
    <br />
    <h1>Our Values</h1>
    <p>
        At BusOn Digital Services India Pvt.Ltd. we believe when creativity, technology and <br />
        marketing combine through strategic planning incredible results are achievable.  <br />
        With the best interest of our clients in mind, our actions are always focused on conversions and business growth.
    </p>
    <br />
    <br />
    <h1>Our Success</h1>
    <p>
        Each of our projects starts with the simple question "How will you measure the success of this project?"<br />
        Success is critical to our team; whether that success comes in the form of happy clients, loyal end users or solid metrics.<br />
        To help us better understand the challenges of your project we try to establish not only the goals but what are your current returns, challenges and the opportunities for growth.<br />
        Our approach has yielded many successful implementation and happy customers over these days. We hope you'll be next!<br />
        It's in our DNA. Placing our clients first is embedded in the BusOn culture. By investing in our people and resources, we bring new ideas and innovation to help you succeed in a changing business environment
    </p>
    <br />
    <br />
    <h1> Our Differences</h1>
    <p>
        We view clients as partners, and our success is only measured by the success of our partners. <br />
        So we put it all on the table in order to exceed expectations. We know each new project is a gamble, but there is no one we'd rather bet on than ourselves. At BusOn, our culture matters. <br />
        And it reflects in our work. Here, jobs are careers, not just a way to pay the bills. <br />
        The finished product matters to us because it carries our name. Our staff is young, energetic and innovative, and we are never afraid to take risks in an effort to help our clients. <br />
        Every member of our team is passionate about the ERP as a medium of business growth as well as a marketplace. <br />
        For every project, no matter how large or how small, we strive to not only meet your needs, but deliver a showcase in your field.
    </p>
</div>

