
.form-check-input {
    margin-top: .2rem;
    margin-left: 1rem; /* Adjusts the vertical alignment */
}



/*------------------------------------------footer style------------------------------------------------------------*/
.footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 20vw;
    background-color: #000000;
    text-align: center;
    max-width: 200px;
    color: white;
    padding: 1vh 0.5vw;
    border-top: 1px solid #dee2e6;
    border-radius: 20px;
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
    transform: translate(-50%, 20px);
}

    .footer.visible {
        opacity: 1;
        transform: translate(-50%, 0);
    }

/* Media Query for Smaller Devices */
@media (max-width: 768px) {
    .footer {
        width: 60vw; /* Adjust width for smaller screens */
        max-width: 300px; /* Reduce maximum width for smaller screens */
    }
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .footer {
        width: 80vw; /* Further adjust width for very small screens */
        max-width: 250px; /* Limit maximum width for mobile devices */
    }
}

/*------------------------------------------------------------------------------------------------------------------------------------*/



.input-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 10px 0px;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: white;
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    font-family: 'Poppins', sans-serif;
}

.dxbl-scroll-viewer-content {
    overflow: auto;
    width: 100%;
    scrollbar-width: none;
    scrollbar-height: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
/*.modal-dialog {
    max-width: 90%;*/ /* Adjust width as needed */
    /*margin: 1.75rem auto;*/ /* Center modal vertically and horizontally */
/*}

.modal-content {
    border-radius: .5rem;*/ /* Rounded corners for the modal */
/*}*/





/*------------------------------------------------Loading----------------------------------------------------------------*/

html {
    height: 100%;
}

body {
    height: 100%;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.rl-loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader {
    width: 40px;
    height: 20px;
    --c: no-repeat radial-gradient(farthest-side,#000 93%,#0000);
    background: var(--c) 0 0, var(--c) 50% 0;
    background-size: 8px 8px;
    position: relative;
    clip-path: inset(-200% -100% 0 0);
    animation: l6-0 1.5s linear infinite;
}

    .loader:before {
        content: "";
        position: absolute;
        width: 8px;
        height: 12px;
        background: #000;
        left: -16px;
        top: 0;
        animation: l6-1 1.5s linear infinite, l6-2 0.5s cubic-bezier(0,200,.8,200) infinite;
    }

    .loader:after {
        content: "";
        position: absolute;
        inset: 0 0 auto auto;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #000;
        animation: l6-3 1.5s linear infinite;
    }

@keyframes l6-0 {
    0%,30% {
        background-position: 0 0,50% 0
    }

    33% {
        background-position: 0 100%,50% 0
    }

    41%,63% {
        background-position: 0 0,50% 0
    }

    66% {
        background-position: 0 0,50% 100%
    }

    74%,100% {
        background-position: 0 0,50% 0
    }
}

@keyframes l6-1 {
    90% {
        transform: translateY(0)
    }

    95% {
        transform: translateY(15px)
    }

    100% {
        transform: translateY(15px);
        left: calc(100% - 8px)
    }
}

@keyframes l6-2 {
    100% {
        top: -0.1px
    }
}

@keyframes l6-3 {
    0%,80%,100% {
        transform: translate(0)
    }

    90% {
        transform: translate(26px)
    }
}

/*------------------------------------------------Loading----------------------------------------------------------------*/