html[b-74fjbu2a12] {
    height: 100%;
}

/*==SCSS coded by rajeshdas.com==*/
/*font import from google fonts*/
/*@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Nunito:200,300,400,600,700,800,900&display=swap");*/
/*font import from google fonts*/
body[b-74fjbu2a12] {
    font-family: "Nunito", sans-serif;
    transition: all 0.5s ease;
}

h1[b-74fjbu2a12],
h2[b-74fjbu2a12],
h3[b-74fjbu2a12],
h4[b-74fjbu2a12],
h5[b-74fjbu2a12],
h6[b-74fjbu2a12] {
    font-family: "Montserrat", sans-serif;
}

.page-wrap[b-74fjbu2a12] {
    padding: 30px 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: center;
    .page-not-found

{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    position: center;
    .img-key

{
    margin-bottom: 0px;
}

h1.text-xl[b-74fjbu2a12] {
    color: #000;
    text-transform: uppercase;
    line-height: 50px;
    font-size: 160px;
    font-weight: 800;
    letter-spacing: -28px;
    text-shadow: -6px 4px 0px #fff;
    margin-left: -20px;
    margin-top: 50px;
    margin-bottom: 50px;
    span

{
    transition: all 1s ease;
    display: inline-block;
    animation: pulse-b-74fjbu2a12 5s infinite;
}

}

h4.text-md[b-74fjbu2a12],
h4.text-sm[b-74fjbu2a12] {
    letter-spacing: 0.38px;
    font-weight: 300;
    line-height: 20px;
    font-size: 14px;
    text-transform: none;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0px;
    width: 100%;
    a

{
    color: #1177bd;
    text-decoration: underline;
    font-weight: 700;
    &:hover, &:focus

{
    text-decoration: none;
}

}
}

h4.text-md[b-74fjbu2a12] {
    font-size: 50px;
    font-weigth: 700;
    color: rgb(0, 0, 0);
    text-transform: none;
}

h4.text-sm-btm[b-74fjbu2a12] {
    top: auto;
    bottom: 40px;
}

}
}

@keyframes pulse-b-74fjbu2a12 {
    0% {
        color: #000;
    }

    50% {
        color: rgba(240, 48, 48, 1);
    }

    100% {
        color: #000;
    }
}

@media (max-width: 768px) {
    .page-wrap[b-74fjbu2a12] {
        .page-not-found

{
    h1 .text-xl

{
    font-size: 120px;
    letter-spacing: -20px;
    margin-bottom: 30px;
}

h4.text-sm[b-74fjbu2a12] {
    top: 10px;
}

h4.text-sm-btm[b-74fjbu2a12] {
    bottom: -60px;
}

h4.text-md[b-74fjbu2a12] {
    font-size: 30px;
}

}
}
}
