@page "/manager"
@attribute [Authorize(Roles = "manager, Developer")]
@using System.Data
@using System.Data.SqlClient
@using DevExpress.Data.Filtering
@using Task_1.Data
@using Task_1.Entities
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@inject DataAcces _data
@inject Blazored.SessionStorage.ISessionStorageService SessionStorage
@inject EmployeeService employeeservice


@if (isLoading)
{
    <div class="rl-loading-container">
        <div class="loader"></div>
    </div>
}
else
{
    <div class="models">
        <div class="toolbar">
            <div class="toolbar-group">
                <div class="grid-toolbar-export">
                    Export
                    <div class="export-options">
                        <button class="btn btn-primary" @onclick="ExportCsvItem_Click">To CSV</button>
                        <button class="btn btn-primary" @onclick="ExportXlsxItem_Click">To XLSX</button>
                        <button class="btn btn-primary" @onclick="ExportXlsItem_Click">To XLS</button>
                    </div>
                </div>
            </div>
        </div>
        <hr />
@*     <div class="combo">
        <DxComboBox Data="@manager"
                    TextFieldName="@nameof(Employee.EMP_NAME)" NullText="Select..."
                    CssClass="cw-480"
                    InputId="cbOverview"
                   ValueChanged="@((Employee employee)=> LoadEmployeesUnderManager(employee))">  </DxComboBox>
             
       
    </div> *@
  
       
    <DxGrid @ref="Grid" Data="employees" PageSize="15"
        ColumnResizeMode="GridColumnResizeMode.NextColumn" TextWrapEnabled="false">
        <Columns>
            <DxGridDataColumn FieldName="EMP_ID" MinWidth="100" > 
            <EditSettings>
      <DxComboBoxSettings Data="emmployees" ValueFieldName="EMP_ID"
          TextFieldName="EMP_ID" />
           </EditSettings>
            </DxGridDataColumn>
               
            <DxGridDataColumn FieldName="EMP_CODE" Caption="Emp Code" MinWidth="100"/>
            
            <DxGridDataColumn FieldName="EMP_NAME" Caption="Employee Name" DisplayFormat="c" Width="10%" />
            <DxGridDataColumn FieldName="EMP_CONTACTNO" Caption="Contact Number" Width="10%" />
            <DxGridDataColumn FieldName="EMP_CONTACTMAIL" Caption="Email Address" Width="15%" MinWidth="80" />
            <DxGridDataColumn FieldName="EMP_DESIGNATION" Caption="Designation" Width="20%" MinWidth="90" />
            <DxGridDataColumn FieldName="EMP_STATUS" Caption="Status" Width="10%" MinWidth="90" />
        </Columns>
       
    </DxGrid>
 
</div>
}

<footer class="footer">
    <p>Manager Report</p>
</footer>


@code {
    IGrid Grid { get; set; }
    const string ExportFileName = "ExportResult";
    public string ManagerName { get; set; }
    IEnumerable<Employee> employees { get; set; } = new List<Employee>();
    IEnumerable<Employee> manager { get; set; }

    private bool isLoading = true;
    Employee SelectedCategories { get; set; }
    Employee emp = new Employee();
    protected override async Task OnInitializedAsync()
    {   
        await Task.Delay(500);
        isLoading = false;
        ManagerName = await SessionStorage.GetItemAsync<string>("ManagerName");
        await LoadGetData();
        // await getdata();



    }

    async Task ExportXlsxItem_Click()
    {
        await Grid.ExportToXlsxAsync(ExportFileName);
    }
    async Task ExportXlsItem_Click()
    {
        await Grid.ExportToXlsAsync(ExportFileName);
    }
    async Task ExportCsvItem_Click()
    {
        await Grid.ExportToCsvAsync(ExportFileName);
    }

    private async Task getdata()

    {
        try
        {
            string connectionString = Configuration.GetConnectionString("DefaultConnection");

            using (SqlConnection connection = new SqlConnection(connectionString))
            {
                string query = " SELECT* FROM Employee where Role = 'manager' ";

                SqlCommand command = new SqlCommand(query, connection);
                DataTable dataTable = new DataTable();

                using (SqlDataAdapter adapter = new SqlDataAdapter(command))
                {
                    adapter.Fill(dataTable);
                }
                manager = await _data.ConvertToList<Employee>(dataTable);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error: " + ex.Message);
        }
        if (manager != null)
        {
            if (emp.EMP_ID == 10020)
            {
                //await LoadEmployeesUnderManager("developer");
            }
        }
    }
    private async Task LoadEmployeesUnderManager(Employee empDesig)
    {
        string query = string.Empty;
        try
        {
            string connectionString = Configuration.GetConnectionString("DefaultConnection");

            using (SqlConnection connection = new SqlConnection(connectionString))
            {

                if (empDesig.EMP_CODE=="200")
                {
                    query = "SELECT* FROM Employee WHERE EMP_DESIGNATION ='developer' or EMP_DESIGNATION='trainee' ";
                }
                else if (empDesig.EMP_CODE == "300")
                {
                    query = "SELECT* FROM Employee WHERE EMP_DESIGNATION <>'developer' and EMP_DESIGNATION <>'trainee'";
                }

                SqlCommand command = new SqlCommand(query, connection);

                DataTable dataTable = new DataTable();

                using (SqlDataAdapter adapter = new SqlDataAdapter(command))
                {
                    adapter.Fill(dataTable);
                }
                employees = await _data.ConvertToList<Employee>(dataTable);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error: " + ex.Message);
        }
    }

    private async Task LoadGetData()
    {
        if(ManagerName=="Ramesh")
        {
            employees = await employeeservice.GetEmployeeByDesignation();

        }
        else if (ManagerName == "Sindhu")
        {
            employees = await employeeservice.GetEmployeeDesignation();
        }
        else
        {
            employees = await employeeservice.GetEmployeeEditableAsync();
        }
    }
   
}
